.hero {
  background-color: var(--color-gray-light);
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin-inline: auto;
}

.hero__body {
  max-width: 600px;
  margin-inline: 60px;
  padding: 60px 50px 40px 40px;
}

.hero__badge {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--color-gray);

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.hero__title {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.hero__description {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
