.button {
  height: var(--button-height);
  padding-inline: 20px;
  letter-spacing: 0.03em;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-dark);
    background-color: transparent;
  }

  &:active {
    scale: 0.97;
  }

  &.transparent {
    color: var(--color-dark);
    background-color: transparent;
    border-color: transparent;

    &:hover {
      border-color: currentColor;
    }
  }
}
