:root {
  --color-light: #FFFFFF;
  --color-light-alt: #F7F7F7;

  --color-dark: #1B1A1A;

  --color-gray-light: #ECE7E4;
  --color-gray-light-alt: #CEC4BC;
  --color-gray: #645C55;
  --color-gray-dark: #403E3B;

  --border-radius: 14px;

  --font-family-base: 'Poppins', sans-serif;

  --button-height: 46px;

  --container-width: 1200px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}
